h1 {
    font-size: 100px;
    color: red;
}

img {
    width: 150px;
}

img:hover {
    background-color: gold;
}

.bacon {
    background-color: red;
}

.broccoli {
    background-color: green;
}

.circular {
    border-radius: 100%;
}

#heading {
    color: blue
}